<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chasing lights and shadows | Justin</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrapper">
  <header class="header-container">
    <div class="logo"><a href="/">CHASING LIGHTS AND SHADOWS</a></div>
    <div class="list-menu">
      <li class="list-item">
        <a href="">Life</a>
      </li>
      <li class="list-item">
        <a href="">Coding</a>
      </li>
      <li class="list-item">
        <a href="">Archive</a>
      </li>
      <li class="list-item">
        <a href="">About</a>
      </li>
    </div>
    <div class="hamburger-wrap">
      <span class="hamburger-item"></span>
    </div>
  </header>
</div>
</body>
</html>