<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chasing lights and shadows | Justin</title>
  <link rel="stylesheet" href="bootstrap-grid.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
  <header class="header-container">
    <div class="logo"><a href="/">CHASING LIGHTS AND SHADOWS</a></div>
    <div class="list-menu">
      <li class="list-item">
        <a href="">Life</a>
      </li>
      <li class="list-item">
        <a href="">Coding</a>
      </li>
      <li class="list-item">
        <a href="">Archive</a>
      </li>
      <li class="list-item">
        <a href="">About</a>
      </li>
    </div>
    <div id="menu" class="hamburger-wrap">
      <span class="hamburger-item"></span>
    </div>
  </header>
  <section class="container">
    <div class="row">
      <div class="col col-6"></div>
      <div class="col col-6"></div>
    </div>
    <div class="row">
      <div class="col col-6"></div>
      <div class="col col-6"></div>
    </div>
    <div class="row">
      <div class="col col-6"></div>
      <div class="col col-6"></div>
    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function(){
    $("#menu").on('click', function(){
      if($('.header-container').hasClass('is-open')) {
        $('.header-container').removeClass('is-open')
      }else{
        $('.header-container').addClass('is-open')
      }
    })
  })
</script>
</body>
</html>