<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chasing lights and shadows | Justin</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
  <header class="header-container">
    <div class="logo"><a href="/">CHASING LIGHTS AND SHADOWS</a></div>
    <div class="list-menu">
      <li class="list-item">
        <a href="">Life</a>
      </li>
      <li class="list-item">
        <a href="">Coding</a>
      </li>
      <li class="list-item">
        <a href="">Archive</a>
      </li>
      <li class="list-item">
        <a href="">About</a>
      </li>
    </div>
    <div id="menu" class="hamburger-wrap">
      <span class="hamburger-item"></span>
    </div>
  </header>
  <section class="post-container">
    
    <div class="post-card-wrap col-2">
      <div class="post-card">
        <div class="post-card-media">
          <a href="" class="post-card-media-link">
            <img class="post-card-image"src="https://images.unsplash.com/photo-1586188892796-d1289a658bb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
          </a>
        </div>
        <div class="post-card-content ">
          <div class="post-card-meta">
            <time class="post-card-date" datetime="2020-04-06" title="06 April 2020">06.Apr.2020</time>
          </div>
          <h2 class="post-card-title">
            <a href="https://brian-ross.net/jk-untitled/" class="post-card-title-link">
              Give Science Time
            </a>
          </h2>
          <a href="https://brian-ross.net/jk-untitled/" class="post-card-excerpt">Use Common Sense	 Whate We Pretend to Know about the Coronavirus Could Kill Us is an excellent article on the pace of science, the pitfalls of social media, and the failings of government and media during this crisis. &nbsp; The bottome line - be careful. &nbsp;Use common sense. &nbsp;  My bottom line:</a>
        </div>
      </div>
    </div>

    <div class="post-card-wrap col-2">
      <div class="post-card">
        <div class="post-card-media">
          <a href="" class="post-card-media-link">
            <img class="post-card-image"src="https://images.unsplash.com/photo-1586188892796-d1289a658bb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
          </a>
        </div>
        <div class="post-card-content ">
          <div class="post-card-meta">
            <time class="post-card-date" datetime="2020-04-06" title="06 April 2020">06.Apr.2020</time>
          </div>
          <h2 class="post-card-title">
            <a href="https://brian-ross.net/jk-untitled/" class="post-card-title-link">
              Give Science Time
            </a>
          </h2>
          <a href="https://brian-ross.net/jk-untitled/" class="post-card-excerpt">Use Common Sense	 Whate We Pretend to Know about the Coronavirus Could Kill Us is an excellent article on the pace of science, the pitfalls of social media, and the failings of government and media during this crisis. &nbsp; The bottome line - be careful. &nbsp;Use common sense. &nbsp;  My bottom line:</a>
        </div>
      </div>
    </div>

    <div class="post-card-wrap col-2">
      <div class="post-card">
        <div class="post-card-media">
          <a href="" class="post-card-media-link">
            <img class="post-card-image"src="https://images.unsplash.com/photo-1586188892796-d1289a658bb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
          </a>
        </div>
        <div class="post-card-content ">
          <div class="post-card-meta">
            <time class="post-card-date" datetime="2020-04-06" title="06 April 2020">06.Apr.2020</time>
          </div>
          <h2 class="post-card-title">
            <a href="https://brian-ross.net/jk-untitled/" class="post-card-title-link">
              Give Science Time
            </a>
          </h2>
          <a href="https://brian-ross.net/jk-untitled/" class="post-card-excerpt">Use Common Sense	 Whate We Pretend to Know about the Coronavirus Could Kill Us is an excellent article on the pace of science, the pitfalls of social media, and the failings of government and media during this crisis. &nbsp; The bottome line - be careful. &nbsp;Use common sense. &nbsp;  My bottom line:</a>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function(){
    $("#menu").on('click', function(){
      if($('.header-container').hasClass('is-open')) {
        $('.header-container').removeClass('is-open')
      }else{
        $('.header-container').addClass('is-open')
      }
    })
  })
</script>
</body>
</html>