* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: #fff;
 color: #000c2d;
 -webkit-font-smoothing: antialiased;
 line-height: 1.5;
 direction: ltr;
}

body, input, button {
 font-size: 16px;
 font-family: Noto Sans,Helvetica,Arial,sans-serif;
}


header {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  padding: 20px;
  min-height: 100vh;
}

.header-container {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 24px;
  width: calc(100% - 40px);
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.hamburger-wrap {
  display: none;
}

.hamburger-item, .hamburger-item::before, .hamburger-item::after {
  height: 1px;
  width: 24px;
  background: #000c2d;
  cursor: pointer;
  width: 100%;
  display: block;
}

.hamburger-item::before, .hamburger-item::after {
  content: '';
}

.hamburger-item::after {
  transform: translateY(14px);
}

.hamburger-item::before {
  transform: translateY(7px);
}

.logo {
  padding: 0 16px;
  font-size: 18px;
  line-height: 36px;
}

.list-menu {
  flex-shrink: 0;
  z-index: 100;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-menu li {
  list-style: none;
}

.list-menu li a {
  display: block;
  margin: 0 15px;
  color: #666;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  line-height: 36px;
  opacity: .4;
  text-decoration: none;
}

.list-menu li a:hover {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 0;
  }
  .header-container {
    width: 100%;
  }
  .hamburger-wrap {
    display: block;
    height: 16px;
    width: 24px;
    cursor: pointer;
    flex-shrink: 0;
    position: absolute;
    top: 32px;
    right: 24px;
  }

  .logo {
    padding: 0;
    width: 100%;
  }

  .list-menu {
    display: none;
  }

  .header-container.is-open {
    overflow: hidden;
    height: 100vh;
    -webkit-transition: height .3s ease-in;
    transition: height .3s ease-in;
  }

  .header-container.is-open .list-menu {
    display: block;
    position: absolute;
    top: 70px;
    width: calc(100% - 40px);
    right: 20px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .list-menu li a {
    text-align: right;
    line-height: 40px;
  }

}

@media screen and (max-width: 414px) {
  .logo {
    font-size: 16px;
  }
}
